:root {
    --size-icons-ds-tw: 37.5pt;
    --size-icons-yo-st: 40.5pt;
}

input[type=checkbox] {
    -webkit-appearance: button;
}


* {
    -webkit-appearance: none;
}

.hide {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
}

/*----------------------------------*/
.move {
    background-color: black;
}

.move a {
    color: white;
}

.move .item-header:after {
    background: white;
}

.move .burger nav {
    background-color: white;
}

header, .desktop, .mobile, .bottomheader{
    width: 100%;
    height: 100px;
}

header {
    position: fixed;
    z-index: 5;
    background-color: white;
    transition: 0.4s ease 0s, left 0.4s ease 0s;
}

.mobile {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

.burger {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.burger nav {
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 5px 0px 0px 5px;
    height: 10px;
    right: 30px;
    transition: 0.2s;
}

.burger nav:nth-child(1) {
    top: 45px;
    width: 120px;
}
.burger nav:nth-child(2) {
    top: 75px;
    width: 80px;
}
.burger nav:nth-child(3) {
    top: 105px;
    width: 40px;
}
.burger .rotate:nth-child(1) {
    border-radius: 5px;
    top: 75px;
    right: 15px;
    transform: rotate(45deg);
}

.burger .rotate:nth-child(2), .burger .rotate:nth-child(3) {
    width: 120px;
    border-radius: 5px;
    top: 75px;
    right: 15px;
    transform: rotate(-45deg);
}

.mobile-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: black;
    transition: 0.2s ease;
    bottom: 0;
    z-index: 4;
}

.mobile-list a:nth-child(1) {
    margin-top: 140px;
}

.mobile-list a {
    color: white;
    font-size: 64pt;
}

.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
}

.bottomheader {
    display: block;
    margin-top: -1%;
}

.item-header {
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 25px 5px 25px;
    margin-top: 8px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.item-header:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.item-header:hover:after {
    width: 100%;
    left: 0;
}
/*----------------------------------*/
.bottom {
    display: flex;
    background: rgb(31, 31, 31);
    color: white;
    flex-direction: column;
    width: 100%;
}

.lh {
    font-size: 14pt;
    color: rgb(129, 129, 129);
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
}

.lh:hover {
    color: white;
}

.blockheader {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.bcol {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18pt;
    text-align: left;
}

.bcol div {
    display: flex;
    justify-content: space-around;
}

#lastbottom p {
    padding-left: 5px;
}

.logo-under {
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 800px) {
    .blockheader {
        flex-direction: column;
    }
    .bcol {
        font-size: 24pt;
        justify-content: center;
        text-align: center;
    }
    .lh {
        font-size: 18pt;
    }
    .bcol div {
        justify-content: center;
    }
    header, .desktop, .mobile, .bottomheader{
        width: 100%;
        height: 150px;
    }
    .burger {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .desktop {
        font-size: 14pt;
    }
}
/*----------------------------------*/
/*  bottom links` icons*/
.i-tw, .i-ds, .i-yo, .i-st {
    margin: 5px;
    opacity: 0.5;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
}

.i-tw, .i-ds {
    width: var(--size-icons-ds-tw);
    height: var(--size-icons-ds-tw);
}

.i-yo, .i-st {
    width: var(--size-icons-yo-st);
    height: var(--size-icons-yo-st);
}

.i-tw:hover, .i-ds:hover, .i-yo:hover, .i-st:hover {
    opacity: 1;
}

.i-ds {
    background: url("../img/Icons/ico_discord.png") no-repeat;
    background-size: var(--size-icons-ds-tw);
}

.i-tw {
    background: url("../img/Icons/ico_twitter.png") no-repeat;
    background-size: var(--size-icons-ds-tw);
}

.i-yo {
    background: url("../img/Icons/ico_youtube.png") no-repeat;
    background-size: var(--size-icons-yo-st);
}

.i-st {
    background: url("../img/Icons/ico_steam.png") no-repeat;
    background-size: var(--size-icons-yo-st);
}
