<template>
  <div class="article">
    <article-head v-bind:text="news.head" v-bind:imgh="news.previewImg" v-bind:height="style"></article-head>
    <chapter v-for="chapter in news.chapters" v-bind:name="chapter.name" v-bind:items="chapter.blocks"></chapter>
    <p class="time">{{news.date}}</p>
    <p class="author">{{news.author}}</p>
  </div>
</template>

<script>
import ArticleHead from './articleHead.vue'
import Chapter from './chapter.vue'
export default {
  name: "article",
  components:{
    "article-head": ArticleHead,
    "chapter": Chapter
  },
  data() {
    return {
      news: {
        previewImg:"",
        chapters: [],
        author: ""
      },
      style: {height: (window.screen.height - window.screen.height*0.225) + "px"}
    }
  },
  methods: {
    parseDate: function (date ) {
      let d = new Date(date)
      let ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d);
      let mo = new Intl.DateTimeFormat('en', { month: 'numeric' }).format(d);
      let da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d);
      return `${da}.${mo}.${ye}`;
    }
  },
  created: function () {
    const ArticleApi = this.$resource("/articles/"+this.$route.params.id);
    ArticleApi.get().then(result => {
      result.json().then(data => {
        console.log(data)
        this.news = data;
        this.news.date = this.parseDate(data.date);
      })
    })
  }
}
</script>

<style scoped>
.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.time, .author {
  display: block;
  width: 50%;
  text-align: end;
  color: grey;
}

.time {
  font-size: 8pt;
  margin-top: 20px;
}

.author {
  font-size: 12pt;
  margin-bottom: 10px;
}
</style>