<template>
  <div class="name_of_article" v-bind:style="height">
    <div v-bind:style="height"></div>
    <img v-bind:src="imgh" alt="Oh shit" v-bind:style="height">
    <h2>{{text}}</h2>
  </div>
</template>

<script>
export default {
  name: "articleHead",
  props: ["imgh", "text", "height"]
}
</script>

<style scoped>
.name_of_article, .name_of_article div {
  width: 100%;
}

.name_of_article {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name_of_article img {
  width: 100%;
  height: inherit;
}

.name_of_article div, .name_of_article img {
  position: absolute;
}

.name_of_article h2 {
  font-size: 36pt;
  color: white;
  z-index: 3;
}

.name_of_article div {
  background-color: #333333a1;
  z-index: 2;
}

.name_of_article img {
  z-index: 1;
}
@media only screen and (max-device-width: 800px) {
  .name_of_article h2 {
    font-size: 48pt;
  }
}
</style>