<template>
  <div class="chapter">
    <h2>{{name}}</h2>
    <div class="text" v-for="item in items">
      <p v-for="text in item.text"> {{text}} </p>
      <div class="ilustration" v-if="item.hasImg">
        <img v-bind:src="item.src" alt="">
        <h4> {{item.underImg}} </h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "chapter",
  props: ["name", "items"]
}
</script>

<style scoped>

.chapter {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 30px;
}

.chapter h2 {
  font-size: 24pt;
}

.chapter p {
  margin-top: 10px;
  text-indent: 1.5em;
  text-align: justify;
  font-size: 14pt;
}

.chapter .ilustration {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter .ilustration img {
  margin-bottom: 5px;
  height: 350px;
}
@media only screen and (max-device-width: 800px) {

  .chapter h2 {
    font-size: 36pt;
  }
  .chapter p {
    font-size: 24pt;
  }

  .chapter .ilustration h4 {
    font-size: 18pt;
  }

}

</style>