<template>
  <div>
    <p><router-link :to="{name: editArticle, params: {isNew: true, id: -1}}"> Add new Article </router-link></p>
    <table>
      <tr>
        <th v-for="bar in bars">{{bar.name}}</th>
      </tr>
      <tr v-for="article in articles">
          <th><router-link :to="{name: editArticle, params: {isNew: false, id: article.id}}">{{article.head}}</router-link></th>
          <th><router-link :to="{name: editArticle, params: {isNew: false, id: article.id}}">{{article.author}}</router-link></th>
          <th><router-link :to="{name: editArticle, params: {isNew: false, id: article.id}}">{{article.date}}</router-link></th>
      </tr>
    </table>
  </div>
</template>

<script>
import {parseDate} from "../../functions/parseDate.js";
export default {
  data() {
    return {
      bars: [ {name: "head"}, {name: "author"}, {name: "date"} ],
      articles: [{head: "", author: "", date: ""}],
      editArticle: "editArticle"
    }
  },
  methods: {
    parseDate: parseDate
  },
  created: function () {
    this.$resource("/articles/all").get().then( result => {
      result.json().then( data => {
        data.forEach( e => {e.date = this.parseDate(e.date); });
        this.articles = data;
      } )
    } )
  }
}
</script>

<style scoped>

  p{
    text-align: center;
    width: 100px;
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 10px;
  }
  table {
    width: 100%;
  }
  th {
    padding-top: 10px;
  }
</style>