<template>
  <form id="myFrom">
    <div>
      <label>Title</label>
      <input type="text" name="head" v-model="product.head" autocomplete="off">
    </div>

    <img-setter  v-on:updateImg="updateImg" :img-link="product.previewImg"></img-setter>

    <div>
      <label>Store Link</label>
      <input v-model="product.link" type="text" name="link" autocomplete="off" required>
    </div>
    <div>
      <label>Text</label>
      <textarea v-model="product.text"></textarea>
    </div>
    <input class="submit" value="Submit" type="button" v-on:click="send"/>
    <br>
    <input v-if="!this.$route.params.isNew || this.$route.params.isNew==='false'" class="submit" id="delete" value="Delete" type="submit" v-on:click="deleteProduct"/>
  </form>
</template>

<script>
import setImg from "./article/setImg.vue";
export default {
  data() {
    return {
      product: {head: "",  text: "", link: "", previewImg: "" }
    }
  },
  components: {
    'img-setter': setImg
  },
  methods: {
    send: function () {
      if (this.$route.params.isNew || this.$route.params.isNew==="true") {
        this.$http.post("/admin/newProduct", JSON.stringify(this.product))
            .then((result)=>console.log(result), (error)=>console.log(error));
      }else {
        this.$http.put("/admin/editProduct/"+this.$route.params.id, JSON.stringify(this.product))
            .then((result)=>console.log(result), (error)=>console.log(error));
      }
      this.$router.push({name:"editProducts"})
    },
    deleteProduct: function () {
      this.$http.delete("/admin/deleteProduct/"+this.$route.params.id)
          .then((result)=>console.log(result), (error)=>console.log(error));
      this.$router.push({name:"editProducts"})
    },
    updateImg: function (value) {
      this.product.previewImg=value.imgLink;
    },
  },
  created: function () {
    if (!this.$route.params.isNew || this.$route.params.isNew==="false")
    {
      this.$resource("products/"+this.$route.params.id).get().then(result =>
      {
        result.json().then(data =>
        {
          this.product = data;
        })
      })
    }
  }
}
</script>

<style scoped>
textarea {
  resize: vertical;
}
form {
  width: 100%;
}
form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#clear, .submit {
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  border: 2px black solid;
  cursor: pointer;
  transition: 0.5s;
}

#delete {
  border-color: #b80909;
}

.submit {
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clear:hover, .submit:hover {
  color: white;
  background-color: black;
}

#delete:hover {
  color: white;
  background-color: #b80909;
}

</style>