<template>
  <div>
    <p><router-link :to="{name: editProduct, params: {isNew: true, id: -1}}"> Add new Product </router-link></p>
    <table>
      <tr>
        <th v-for="bar in bars">{{bar.name}}</th>
      </tr>
      <tr v-for="product in products">
        <th><router-link :to="{name: editProduct, params: {isNew: false, id: product.id}}">{{product.head}}</router-link></th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bars: [ {name: "head"}],
      products: [{head: "dffsd", href: ""}],
      editProduct: "editProduct"
    }
  },
  created: function () {
    this.$resource("/products").get().then( result => {
      result.json().then( data => {
        this.products = data;
      } )
    } )
  }
}
</script>

<style scoped>
  p{
    text-align: center;
    width: 100px;
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 10px;
  }
  table {
    width: 100%;
  }
  th {
    padding-top: 10px;
  }
</style>