<template>
  <form>
    <div>
      <label>Author nick</label>
      <input type="text" name="head" v-model="user.authorNick" autocomplete="off">
    </div>
    <div>
      <label>username</label>
      <input type="text" name="head" v-model="user.username" autocomplete="off">
    </div>
    <div v-if="this.$route.params.id === '-1'">
      <label>Password</label>
      <input type="text" name="head" v-model="user.password" autocomplete="off">
    </div>
    <input class="submit" value="Submit" type="button" v-on:click="send"/>
    <br>
    <input v-if="!this.$route.params.isNew || this.$route.params.isNew==='false'" class="submit" id="delete"
           value="Delete" type="submit" v-on:click="deleteUser"/>
  </form>
</template>

<script>
export default {
  name: "userEditor",
  data() {
    return {
      user: {username: "", authorNick: "", password: ""}
    }
  },
  methods: {
    send: function () {
      if (this.$route.params.isNew || this.$route.params.isNew === "true") {
        this.$http.post("/admin/newUser", JSON.stringify(this.user))
            .then((result) => console.log(result), (error) => console.log(error));
      } else {
        this.$http
            .put("/admin/editUser/" + this.$route.params.id, JSON.stringify({
              authorNick: this.user.authorNick,
              userName: this.user.userName
            }))
            .then((result) => console.log(result), (error) => console.log(error));
      }
      this.$router.push({name: "editUsers"})
    },
    deleteUser: function () {
      this.$http.delete("/admin/deleteUser/" + this.$route.params.id)
          .then((result) => console.log(result), (error) => console.log(error));
      this.$router.push({name: "editUsers"})
    }
  },
  created: function () {
    if (!this.$route.params.isNew || this.$route.params.isNew === "false") {
      this.$resource("admin/users/" + this.$route.params.id).get().then(result => {
        result.json().then(data => {
          this.user = data;
        })
      })
    }
  }
}
</script>

<style scoped>
textarea {
  resize: vertical;
}

form {
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#clear, .submit {
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  border: 2px black solid;
  cursor: pointer;
  transition: 0.5s;
}

#delete {
  border-color: #b80909;
}

.submit {
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clear:hover, .submit:hover {
  color: white;
  background-color: black;
}

#delete:hover {
  color: white;
  background-color: #b80909;
}

</style>