<template>
  <div>
    <p><router-link :to="{name: editUser, params: {isNew: true, id: '-1'}}"> Add new User </router-link></p>
    <table>
      <tr>
        <th v-for="bar in bars">{{bar.name}}</th>
      </tr>
      <tr v-for="user in users">
        <th><router-link :to="{name: editUser, params: {isNew: false, id: user.id}}">{{user.username}}</router-link></th>
        <th><router-link :to="{name: editUser, params: {isNew: false, id: user.id}}">{{user.authorNick}}</router-link></th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data(){
    return {
      bars: [ {name: "user name"}, {name: "author nick"}],
      users: [{username: "", authorNick: ""}],
      editUser: "editUser"
    }
  },
  created: function () {
    this.$resource("/admin/users").get().then( result => {
      result.json().then( data => {
        this.users = data;
        console.log(data)
      } )
    } )
  }
}
</script>

<style scoped>
p{
  text-align: center;
  width: 100px;
  border: black 1px solid;
  padding: 10px;
  margin-bottom: 10px;
}
table {
  width: 100%;
}
th {
  padding-top: 10px;
}
</style>