<template>
  <form id="myFrom">
    <input v-if="!this.$route.params.isNew || this.$route.params.isNew==='false'" class="submit delete" value="Delete" type="submit" v-on:click="deleteArticle"/>
    <div>
      <label>Title</label>
      <input type="text" name="head" v-model="article.head" autocomplete="off">
    </div>
    <img-setter v-on:updateImg="updateImg" :img-link="article.previewImg"></img-setter>
    <chapter v-for="(chapter, index) in article.chapters" v-on:change_name="changeChapterName" :name="chapter.name" @removeChapter="removeChapter(index)" :id="index" :chapter_blocks="chapter.blocks">
    </chapter>

    <p id="addChapter" v-on:click="addChapter">Add Chapter</p>
    <input class="submit" value="Submit" type="button" v-on:click="send"/>
  </form>
</template>

<script>
import chapter from "./chapter.vue";
import setImg from "./setImg.vue";
export default {
  data() {
    return {
      article: {previewImg: "", chapters: []}
    }
  },
  components: {
    "chapter": chapter,
    'img-setter': setImg
  },
  methods: {
    addChapter: function () {
      this.article.chapters.push({name:"", blocks: []})
      console.log(this.article)
    },
    removeChapter: function (index) {
      this.article.chapters.splice(index, 1);
    },
    updateImg: function (value) {
      this.article.previewImg=value.imgLink;
    },
    changeChapterName: function (value){
      this.article.chapters[value.id].name = value.name;
    },
    send: function () {
      console.log(JSON.stringify(this.article))
      if (!this.$route.params.isNew || this.$route.params.isNew==='false')
      {
        this.$http.put("/admin/editArticle/"+this.$route.params.id, JSON.stringify(this.article)).then((result)=>console.log(result), (error)=>console.log(error));
      }else {
        this.$http.post("/admin/newArticle", JSON.stringify(this.article)).then((result)=>console.log(result), (error)=>console.log(error));
      }
       this.$router.push({name:"editNews"})
    },
    deleteArticle: function () {
      this.$http.delete("/admin/deleteArticle/"+this.$route.params.id)
          .then((result)=>console.log(result), (error)=>console.log(error));
      this.$router.push({name:"editNews"})
    }
  },
  created: function () {
    console.log("created")
    if (!this.$route.params.isNew || this.$route.params.isNew==='false')
    {
      this.$resource("articles/"+this.$route.params.id).get().then(result =>
      {
        result.json().then(data =>
        {
          this.article = data;
        })
      })
    }
  }
}
</script>

<style>
input[type=text] {
  font-size: inherit;
}
textarea {
  resize: vertical;
}
form {
  width: 100%;
  font-size: 14pt;
}
form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#clear, #addChapter, .submit {
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  border: 2px black solid;
  cursor: pointer;
  transition: 0.5s;
}

#addChapter {
  font-size: 12pt;
}

.delete {
  border-color: #b80909;
}

.submit {
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clear:hover, #addChapter:hover, .submit:hover {
  color: white;
  background-color: black;
}

.delete:hover {
  color: white;
  background-color: #b80909;
}
</style>