<template>
  <div class="chapter_block">
    <div>Chapter Block</div>
    <p class="submit delete chapter_delete" @click="$emit('removeChapterBlock')">Delete chapter block</p>
    <label>Has Img?</label>
    <input id="checkbox" name="hasImg" value="hasImg" type="checkbox" v-model="block.hasImg">
    <img-setter v-if="block.hasImg" v-on:updateImg="updateImg" :img-link="block.src"></img-setter>
    <vue-textarea v-for="(text, index) in block.text" @removeText="removeTextarea(index)" v-on:update_text="updateText" :id="index" :text="text"></vue-textarea>
    <p class="submit addtext" v-on:click="addTextarea">Add text</p>
  </div>
</template>

<script>
import setImg from "./setImg.vue";
import textarea from  "./vue-textarea.vue"
export default {
  name: "chapterBlock",
  data() {
    return {
    }
  },
  components: {
    "img-setter": setImg,
    "vue-textarea": textarea
  },
  methods: {
    removeTextarea: function (index) {
      this.block.text.splice(index, 1);
    },
    addTextarea: function () {
      this.block.text.push("")
    },
    updateText: function (value){
      this.block.text[value.id] = value.text;
    },
    updateImg: function (value){
      this.block.src=value.imgLink;
    }
  },
  props: ["block", "removeChapterBlock"],
}
</script>

<style scoped>
.chapter_block {
  border-top: 2px solid #535353;
  padding-left: 60px;
}
.addtext {
  padding: 5px;
  font-size: 12pt;
}
label {
  margin-top: 10px;
}
.chapter_delete {
  width: 280px;
}
#checkbox {
  width: 20px;
  height: 20px;
}
</style>