<template>
  <div class="chapter">
    <label>Chapter name</label>
    <input name="chapter" type="text" v-model="name" v-on:keyup="changeChapterName">
    <p class="submit delete chapter_delete" @click="$emit('removeChapter')">Delete chapter <i>"{{name}}"</i></p>
    <chapter-block v-for="(block, index) in chapter_blocks" v-on:update_block="updateBlock" :block="block" @removeChapterBlock="removeChapterBlock(index)"></chapter-block>
    <p class="submit chapteblock" v-on:click="addChapterBlock">Add Chapter Block</p>

  </div>
</template>

<script>
import chapterBlock from "./chapterBlock.vue";
export default {
  name: "chapter.vue",
  components: {
    'chapter-block': chapterBlock
  },
  data() {
    return {
    }
  },
  methods: {
    removeChapterBlock: function (index) {
      this.chapter_blocks.splice(index, 1);
    },
    addChapterBlock: function () {
      this.chapter_blocks.push({hasImg: false, src: "", underImg: "", text: []})
    },
    changeChapterName(){
      this.$emit("change_name", {id:this.id, name:this.name})
    },
    updateBlock: function (){

    }
  },
  props: ["chapter_blocks", "id", "removeChapter", "name"]
}
</script>

<style scoped>
.chapter_delete {
  width: 280px;
}

.chapter {
  padding: 5px;
  border: black 3px solid;
}

label {
  margin-top: 6px;
}

.chapteblock {
  font-size: 12pt;
  width: 140px;
}

</style>