<template>
  <div>
    <label>Img</label>
    <input v-model="imgLink" type="text" name="preview_img" v-if="!imgFile" autocomplete="off" v-on:keyup="emitToParent"
           required>
    <p v-if="imgLink.length === 0">or</p>
    <input v-if="imgLink.length === 0" id="file" type="file" v-on:change="uploadFile();">
    <p id="clear" v-if="imgLink.length > 0" v-on:click="clear">CLEAR</p>
  </div>
</template>

<script>
export default {
  name: "setImg",
  props: {imgLink: ""},
  data() {
    return {}
  },
  methods: {
    clear: function () {
      this.imgLink = '';
      document.getElementById("file").value = '';
    },
    emitToParent: function () {
      this.$emit("updateImg", {imgLink: this.imgLink})
    },
    uploadFile: function () {

      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const form = document.getElementById("myForm");
      const FD = new FormData();
      FD.append("file", document.getElementById(`file`).files[0])


      let that = this;

      // Define what happens on successful data submission
      XHR.addEventListener("load", function (event) {
        that.imgLink = JSON.parse(this.response).url;
        that.emitToParent();
      });

      // Define what happens in case of error
      XHR.addEventListener("error", function (event) {
        form_data.isError = true;
      });

      // Set up our request
      XHR.open("POST", "/admin/uploadImg");

      // The data sent is what the user provided in the form
      XHR.send(FD);
    }
  }
}
</script>

<style scoped>

</style>