<template>
  <div>
    <label>Text</label>
    <textarea v-model="text" v-on:keyup="emitText"></textarea>
    <p class="submit delete text_delete" @click="$emit('removeText')" >Delete text</p>
  </div>
</template>

<script>
export default {
  name: "vue-textarea",
  props: ["text", "removeText", "id"],
  methods:{
    emitText(){
      this.$emit("update_text", {id:this.id, text:this.text})
    }
  }
}
</script>

<style scoped>
  .text_delete {
    font-size: 12pt;
    width: 180px;
  }
  label {
    margin-top: 10px;
  }
</style>