<template>
  <div class="mobile">
    <div class="burger" v-on:click="onClickMenu">
      <nav v-for="item in [0,0,0]" v-bind:class="{rotate:is_clicked}"></nav>
    </div>
  </div>
</template>

<script>

export default {
  props: ["is_clicked"],
  methods:{
    onClickMenu: function (){
      this.$parent.onClickMenu()
    }
  }
}
</script>

<style scoped>

</style>