<template>
  <div class="desktop">
    <router-link :to="{name: item.link}" class="item-header" v-for="item in item_list">
      {{item.text}}
    </router-link>
  </div>
</template>
<script>
export default {
  props: ["item_list"]
}
</script>

<style scoped>

</style>