<template>
  <div>
    <header v-bind:class="{move: is_move}">
      <header-desktop
          v-if="!(is_touch)"
          v-bind:item_list="items">
      </header-desktop>

      <header-mobile
          v-if="is_touch"
          v-bind:is_clicked="is_clicked">
      </header-mobile>
    </header>

    <div class="mobile-list" v-if="is_touch" v-bind:style="mobile.style">
      <router-link :to="{name: item.link}" v-for="item in items">
        {{ item.text }}
      </router-link>
    </div>

    <div class="bottomheader">
    </div>
  </div>
</template>

<script>
const isTouchDevice = () => {
  try {
    if (window.screen.width < 500) {
      document.createEvent('TouchEvent');
      return true;
    } else {
      return false;
    }
  } catch (e) {
    return false;
  }
}
window.onscroll = function(ev) {
  if(window.pageYOffset > 80) {
    header.change_is_move(true);
  }
  else {
    header.change_is_move(false);
  }
}

import HeaderDesktop from './headerDesktop.vue'
import HeaderMobile from './headerMobile.vue'
export default {
  data() {
    return {
      items:
          [
            {link: "about", text: "About"},
            {link: "products", text: "Products"},
            {link: "news", text: "News"},
            {link: "career", text: "Career"}
          ],
      is_touch: isTouchDevice(),
      is_move: false,
      mobile:
          {
            is_clicked: false,
            style: {
              left: window.innerWidth + "px",
            }
          }
    }
  },
  components:{
    'header-mobile': HeaderMobile,
    'header-desktop': HeaderDesktop
  },
  methods:
      {
        click: function (value){
          console.log(value)
          this.$emit('input', value);
        },
        change_is_move: function (value) {
          this.is_move = value;
        },

        change_is_clicked: function (value) {
          this.mobile.is_clicked = value;
        },

        change_left_offset: function (value) {
          this.mobile.style.left = value + "px";
        },

        get_is_clicked: function () {
          return this.mobile.is_clicked;
        },

        onClickMenu: function () {
          let is_clicked = this.get_is_clicked();
          if (is_clicked) {
            this.change_left_offset(window.innerWidth);
          }else{
            this.change_left_offset(0);
          }
          this.change_is_clicked(!is_clicked);
        },

        scroll: function (ev) {
          if (window.pageYOffset > 80) {
            this.change_is_move(true);
          } else {
            this.change_is_move(false);
          }
        }
      },
  created() {
    window.onscroll = this.scroll;
  }
}
</script>

<style scoped>

</style>