<template>
  <div class="blockheader">
    <div class="logo-under">
      <img src="assets/img/HMS-white.png " height="150px ">
    </div>

    <bottom-component
        v-for="item in items"
        v-bind:title="item.title"
        v-bind:links="item.links">
    </bottom-component>

    <bottom-component-community
        v-bind:title="items_community.title"
        v-bind:links="items_community.links">
    </bottom-component-community>
  </div>
</template>

<script>
import BottomComponentCommunity from './bottomComponentCommunity.vue'
import BottomComponent from './bottomComponent.vue'
export default {
  data() {
    return{
      items:
        [
          {title: "Development", links: [{link: "news", text: "News"}]},
          {title: "About", links: [
              {link: "/", text: "Head Mounted Software"},
              {link: "career", text: "Careers"}
            ]}
        ],
            items_community:
      {
        title: "Community",
            links: [
        {link: "https://discord.com/", class: `i-ds`},
        {link: "https://twitter.com/", class: `i-tw`},
        {link: "https://youtube.com", class: `i-yo`},
        {link: "https://steamcommunity.com/", class: `i-st`},
      ]
      }}
  },
  components:{
    'bottom-component-community': BottomComponentCommunity,
    'bottom-component': BottomComponent
  }
}
</script>

<style scoped>

</style>