<template>
  <div class='bcol' id="lastbottom">
    <p>{{ title }}</p>
    <div>
      <a class="lh" v-for="item in links" :href="item.link" v-bind:key="item.class">
        <div v-bind:class="item.class"></div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: ["title", "links"]
}
</script>

<style scoped>

</style>