<template>
  <div class='bcol'>
    <p>{{title}}</p>
    <router-link class="lh" v-for="item in links" :to="item.link">
      {{ item.text }}
    </router-link>
  </div>
</template>

<script>
export default {
  props: ["title", "links"]
}
</script>

<style scoped>

</style>