<template>
  <div>
      <slider></slider>
      <news-data></news-data>
  </div>
</template>

<script>
import Slider from './slider.vue'
import newsData from "./newsData.vue";
export default {
  name: "news",

  components:{
    "slider":Slider,
    "news-data":newsData
  }
}
</script>

<style scoped>
.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 800px;
}

.news, .news a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.news, .news a, .news a img {
  width: 400px;
  height: 250px;
}

.news {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 100px;
  margin-right: 100px;
  border: 0.1px solid rgba(0, 0, 0, 0.377);
}

.news a div {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  width: 100%;
  bottom: 0;
  transition: 0.5s ease;
}

.news h3 {
  padding-left: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.news a img {
  position: absolute;
  z-index: 0;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.more p {
  display: block;
  height: 23px;
  padding: 12px 54px;
  font-size: 18pt;
  transition-duration: 0.4s;
  color: black;
  border: 1.5px solid #000000;
  cursor: pointer;
}

.more p:hover {
  background-color: #000000;
  color: white;
}

@media only screen and (max-device-width: 800px) {

  .app {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .news,  .news a, .news a img {
    width: 800px;
    height: 600px;
  }
  .news {
    margin-bottom: 25px;
  }
  .news a div {
    height: 150px;
  }

  .news a h3 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 24px;
  }
}
</style>