<template>
  <div class="app">
    <div v-for="item in news">
      <div class="news">
        <router-link  :to="{name: 'articles', params:{'id':item.id}}">
          <img v-bind:src="item.previewImg" alt="oh shit">
          <div class="background-product">
            <h3>{{ item.head }}</h3>
          </div>
        </router-link>
      </div>
    </div>
    <div class="more">
      <p v-on:click="getNews">More</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: []
    }
  },
  methods: {
    getNews: function() {
      this.$resource("/articles").get({from: this.news.length }).then(result => {
        result.json().then(data => {
          data.forEach( e=> this.news.push(e) );
        })
      })
    }
  },
  created: function () {
    this.$resource("/articles").get().then(result => {
      result.json().then(data => {
        this.news = data;
      })
    })
  }
}
</script>

<style scoped>

</style>