<template>
  <div id="slider" v-bind:style="{height: height_val+'px'}">
    <div class="slider">
      <div id="right" v-on:click="changeCurrentSlideToRight"></div>
      <div id="left" v-on:click="changeCurrentSlideToLeft"></div>
      <div class="slides">
        <nav v-for="item in news" v-bind:class="{current_nav:item.current}"></nav>
      </div>
      <router-link class="slide" v-for="item in news" :to="{name: 'articles', params:{'id':item.id}}" v-bind:class="{current_slide:item.current}">
        <img v-bind:src="item.previewImg" alt="">
        <div>
          <h3>{{item.head}}</h3>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: [],
      currentId: 0,
      toRight: {},
      height_val:0
    }
  },
  methods: {
    changeCurrentSlideToRight: function () {
      if (event) {
        window.clearInterval(this.toRight);
        this.toRight = window.setInterval(this.changeCurrentSlideToRight, 5000);
      }
      this.news[this.currentId].current = false;
      this.currentId++;
      this.currentId %= 6;
      this.news[this.currentId].current = true;

    },
    changeCurrentSlideToLeft: function () {
      if (event) {
        window.clearInterval(this.toRight);
        this.toRight = window.setInterval(this.changeCurrentSlideToRight, 5000);
      }
      this.news[this.currentId].current = false;
      this.currentId--;
      if (this.currentId === -1) {
        this.currentId = 5;
      }
      this.news[this.currentId].current = true;
    },
    updateStyle(){
      let imgs = document.getElementsByClassName("slide");
      this.height_val = imgs[0].offsetHeight
    }
  },
  created: function () {
    this.toRight = window.setInterval(this.changeCurrentSlideToRight, 5000);
    this.$resource("/articles/slider").get().then(result => {
      result.json().then(data => {
        data.forEach(e => {
          e.current = false;
        })
        data[0].current = true;
        this.news = data;
      })
    })
    //
    window.addEventListener("resize", this.updateStyle);
  },
  destroyed() {
    window.removeEventListener("resize", this.updateStyle);
  },
  updated() {
    this.updateStyle();
  }
}
</script>

<style scoped>
#slider, #slider .slider, .slide, .slide img {
  display: block;
  width: 100%;
}

#slider, #slider .slider {
  height: 80%;
}

.slides {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5px;
  position: absolute;
}

.slides .current_nav {
  background-color: #f6b72a;
}

.slides nav {
  display: block;
  width: 16%;
  height: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.404);
}

.slides, #right, #left, .slide div {
  z-index: 2;
}

.slide, .slide img, .slide h3 {
  transition: 0.5s;
}

.slide {
  display: flex;
  visibility: hidden;
  opacity: 0;
  height: inherit;
  position: absolute;
  align-items: flex-end;
}

.slide img {
  z-index: 0;
  height: 100%;
  position: absolute;
}

.current_slide {
  opacity: 1;
  visibility: visible;
}

.slide div {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

.slide h3 {
  margin-top: 17px;
  margin-left: 10px;
  color: white;
  font-size: 36pt;
}

#right, #left {
  width: 50px;
  height: 200px;
  background-color: rgba(65, 65, 65, 0.425);
  top: 35%;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

#right:hover, #left:hover {
  background-color: black;
}

#left {
  left: 5px;
}

#right {
  right: 5px;
}


@media only screen and (max-device-width: 800px) {
  #slider, .slider, .slide, .slide img {
    height: 1400px;
  }
  #right, #left {
    top: 750px;
  }
}

</style>