<template>
  <div>
    <center>
      <h2>We make history in VR industry and you can be a part of it!</h2>
    </center>
    <div class="info">
      <p>
        In Head Mounted Software we develop VR games and we’re seeking for talented and creative collaborators who are the best at what they do. Jobs are remote.
      </p>
    </div>
    <form id="myForm" method="post" enctype="multipart/form-data" action="" v-on:submit.prevent="onSubmit">
      <div class="triangles">
        <div id="first"></div>
        <div id="second"></div>
        <div id="third"></div>
        <div id="fourth"></div>
      </div>
      <center>
        <h3>We have a job where you can do meaningful and original work.</h3>
      </center>
      <div class="text_inputs">
        <div>
          <label for="position">Position</label>
          <select name="position" id="">
            <option v-for="op in form.select" v-bind:value="op.value">{{op.name}}</option>
          </select>
        </div>
        <div v-for="input in form.inputs">
          <label v-bind:for="input.id">{{input.text}}:</label>
          <input v-bind:type="input.type" v-bind:id="input.id" v-bind:placeholder="input.text" v-bind:name="input.id" required>
        </div>
      </div>
      <div id="bottom_form">
        <div>
          <label for="resume">Upload CV/Resume</label>
          <input id="file" type="file" name="file">
        </div>
        <div>
          <label for="letter">Cover Letter</label>
          <textarea id="letter" name="cover_letter" rows="10"></textarea>
        </div>

        <input v-if="!(isSubmit) && !(isError)" type="submit" id="submit" value="Apply now!">
        <center v-if="isSubmit || isError">
          <h2 v-if="isSubmit" id="thnx">Thank you!</h2>
          <h2 v-if="isError" id="ops">Oops! Something went wrong. Refresh the page</h2>
        </center>
      </div>
    </form>
  </div>
</template>

<script>

let form_data ={
  form: {
    select:
        [
          {value: "art", name: "Art"},
          {value: "animation", name: "Animation"},
          {value: "design", name: "Design"},
          {value: "engineering", name: "Engineering development"},
          {value: "software", name: "Software development"},
          {value: "marketing", name: "Marketing"},
        ],
            inputs: [
      {type: "email", text: "Email", id: "email"},
      {type: "text", text: "First Name", id: "fname"},
      {type: "text", text: "Last Name", id: "lname"}
    ]
  },
  isSubmit: false,
  isError: false
}

export default {
  data() {
    return form_data;
  },
  methods:{
    onSubmit (e) {
      e.preventDefault();
      this.sendData();
    },
    sendData(){
      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const form = document.getElementById( "myForm" );
      const FD = new FormData( form );

      // Define what happens on successful data submission
      XHR.addEventListener( "load", function(event) {
        form_data.isSubmit = true;
      } );

      // Define what happens in case of error
      XHR.addEventListener( "error", function( event ) {
        form_data.isError = true;
      } );

      // Set up our request
      XHR.open( "POST", "/email" );

      // The data sent is what the user provided in the form
      XHR.send( FD );
    }
  },
}
</script>

<style scoped>
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: white;
  width: 100%;
  font-size: 12pt;
  padding-bottom: 40px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  margin-bottom: 5px;
}

form center {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.text_inputs {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.text_inputs * {
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

.text_inputs div {
  margin: 10px;
}

.text_inputs label {
  padding-left: 0;
}

.text_inputs input{
  height: 30px;
}

.text_inputs select {
  background-color: #ffffff;
  width: 520px;
  height: 40px;
}

.text_inputs input, .text_inputs select {
  border-radius: 7px;
  padding: 5px;
  padding-left: 15px;
  font-size: 18px;
}

.text_inputs div:nth-child(3) {
  align-self: flex-end;
}

#bottom_form {
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom_form div {
  width: 800px;
  resize: vertical;
}

#submit {
  align-self: center;
  width: 250px;
  background: #000000;
  margin-top: 15pt;
  margin-bottom: 5pt;
  padding: 12px 24px;
  font-size: 14pt;
  transition-duration: 0.4s;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  cursor: pointer;
}

#submit:hover {
  background: #ffffff;
  color: #000000;
  border: 1.5px solid #000000;
}

.info {
  display: flex;
  margin: 15px 15px 15px 0;
  justify-content: center;
  width: 100%;
  height: 120px;
  text-align: justify;
  text-indent: 1.5em;
  font-size: 14pt;
}

.info p {
  display: block;
  width: 550px;
}

.triangles {
  margin: 0;
}

form .triangles * {
  margin: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
}

form #first {
  border-left: 0px solid transparent;
  border-right: 24vw solid white;
}
form #second {
  border-right: 0px solid transparent;
  border-left: 26vw  solid white;
}
form #third {
  border-left: 0px solid transparent;
  border-right: 14vw  solid white;
}

form #fourth {
  border-right: 0px solid transparent;
  border-left: 35vw  solid white;
}

@media only screen and (min-width: 1920px) {
  .text_inputs div {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 800px) {
  #bottom_form div {
    width: 500px;
  }
}
@media only screen and (max-device-width: 800px) {
  #bottom_form div {
    width: 500px;
  }
}

@media only screen and (max-device-width: 800px) {
  #bottom_form div {
    width: 800px;
  }
  .text_inputs * {
    width: 800px;
  }
  form label {
    font-size: 36pt;
  }

  h2 {
    font-size: 36pt;
  }
  center h2 {
    margin-top: 35px;
  }
  .info {
    font-size: 24pt;
    height: 200px;
  }

  .text_inputs input, .text_inputs select {
    border-radius: 7px;
    padding: 20px;
    padding-left: 35px;
    font-size: 36px;
    height: 60px;
  }

  .text_inputs select {
    width: 840px;
    height: 100px;
  }

  #file {
    font-size: 24pt;
  }

  form h3 {
    font-size: 36pt;
  }

  #submit {
    font-size: 36pt;
    padding: 36px 0px;
    width: 350px;
  }
}

.triangles {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}


</style>