<template>
  <div class="content">
    <div v-for="item in products">
      <div class="product" >
        <a v-bind:href="item.link">
          <img v-bind:src="item.previewImg" alt="oh shit">
          <div class="background-product">
            <h3>{{item.head}}</h3>
            <p>{{item.text}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return{
      products: []
    }
  },
  created: function () {
    this.$resource("/products").get().then(result => {
      result.json().then(data => {
        console.log(data)
        this.products = data;
      })
    })
  }
}
</script>

<style scoped>
.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 1000px;
}

.product, .product a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}

.product, .product a, .product a img {
  width: 600px;
  height: 350px;
}

.product {
  margin-bottom: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.199);
}

.product a div {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  width: 100%;
  height: 50px;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.product a div, .product a p {
  transition: 0.5s ease;
}

.product h3, .product p {
  padding-left: 5px;
  padding-top: 15px;
}

.product p {
  visibility: hidden;
}

.product a img {
  position: absolute;
  z-index: 0;
  border-radius: 3px;
}

.product a:hover div {
  height: 450px;
  border-radius: 3px;
}

.product a:hover p {
  visibility: visible;
}

@media only screen and (max-device-width: 800px) {

  .content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .product,  .product a, .product a img {
    width: 800px;
    height: 600px;
  }
  .product {
    margin-bottom: 25px;
  }
  .product a div {
    height: 100px;
  }

  .product a h3 {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 36px;
  }

}
</style>