<template>
  <div class="admin">
    <div class="header">
      <div v-for="bar in bars" v-on:click="onClickThisBar($event, bar.head)" :class="{activeBar: bar.isActive}">
        <router-link :to="{name: bar.editor}" :class="{activeBar: bar.isActive}">
          <h3>{{bar.head}}</h3>
        </router-link>
      </div>

    </div>
    <div class="back_header">

    </div>
    <div class="editor">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bars: [
        {isActive: false, editor: "editNews", head: "LIST NEWS"},
        {isActive: false, editor: "editProducts", head: "LIST PRODUCTS"},
        {isActive: false, editor: "editUsers", head: "LIST ADMINS"},
      ]
    }
  },
  methods: {
    onClickThisBar: function (e, head) {
      console.log(e, head)
      this.bars.forEach( e => {
        e.isActive = (e.head === head)
      })

    }
  },
  created: function () {
    this.bars[this.$route.meta.id].isActive=true;
  }
}
</script>

<style scoped>
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.admin{
  display: flex;
  height: 100%;
}

.back_header, .header {
  height: 100%;
  width: 200px;
}

.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.editor{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.editor div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .activeBar {
  color: black;
  background-color: white;
}

.header div {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34%;
  color: white;
  background-color: black;
  transition: 0.5s;
}
.header a{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}
</style>