<template>
  <form id="myForm">
    <label for="username">Login</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <input type="button" id="submit" value="Login" v-on:click="send">
  </form>
</template>

<script>
export default {
  name: "Login",
  methods:{
    send: function (){
      const XHR = new XMLHttpRequest();

      // Bind the FormData object and the form element
      const form = document.getElementById( "myForm" );
      const FD = new FormData( form );
      let that = this;
      // Define what happens on successful data submission
      XHR.addEventListener( "load", function(event) {
        that.$router.push({name: that.$route.params.to})
      });

      // Define what happens in case of error
      XHR.addEventListener( "error", function( event ) {
      } );

      // Set up our request
      XHR.open( "POST", "/login" );

      // The data sent is what the user provided in the form
      XHR.send( FD );

    }
  }
}
</script>

<style scoped>
form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14pt;
}
input[type=password] {
  font-size: inherit;
}
label, #submit {
  margin-top: 10px;
}
#submit {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 0px;
  background-color: white;
  border: black 1px solid;
  transition: 0.5s;
}

#submit:hover {
  background-color: black;
  color: white;
}

</style>