<template>
  <div>
    <vue-header></vue-header>
    <router-view></router-view>
    <div class="bottom">
      <block-header></block-header>
      <center>
        <p style="color: rgb(129, 129, 129); ">Head Mounted Software 2021 ©</p>
      </center>
    </div>
  </div>
</template>
<script>
import Header from '../components/index/header/header.vue'
import BlockHeader from '../components/index/footer/blockheader.vue'

export default {
  components: {
    'vue-header': Header,
    'block-header': BlockHeader
  }
}
</script>

<style scoped>

</style>