<template>
  <div>
    <div class="logo">
      <img src="assets/img/HMS.png">
    </div>

    <div class="info_about" id="under-logo">
      <h1>Head Mounted Software</h1>
      <p>We are virtual reality oriented company and we create games.</p>
    </div>

    <div class="mainblock">
      <div class="info_about">
        <p>We are self funded company which focus on future of the virtual reality gaming and we belive in things which
          we create. Instead of working in the office, we bring people all around the world together. Creativity of our
          developers are
          not limited so everyone can make their dreams come true. Main goal of the company is to change the world of
          gaming using VR technologies and give unforgettable felling to whole gaming community with our future
          products. Starting
          with our game product called Lues.
        </p>
      </div>
      <img class="img-team" src="assets/img/about_office.jpeg">
    </div>

    <h2>Apply today!</h2>
    <center>
      <div class="info_about">
        If you are a developer who want to become part of VR gaming history, you are welcome! We are seeking for people
        how are best in what they do.
      </div>
    </center>
    <div class="job">
      <router-link class="applybtn" :to="{name: 'career'}" >Job openings</router-link>
    </div>

    <h2>Community</h2>
    <social-medias></social-medias>
  </div>
</template>

<script>
import SocialMedias from './socialMedias.vue'

export default {
  components: {
    'social-medias': SocialMedias
  }
}
</script>

<style>
:root {
  --size-icon: 120pt;
  --size-icon-change: 120pt;
  --icons-width: 120pt;
  --icons-height: 45pt;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 25pt;
  margin-bottom: 3pt;
  font-size: 24pt;
}

.info_about {
  width: 500pt;
  font-size: 18pt;
  text-align: justify;
  text-indent: 1.5em;
}

/*----------- Logo -----------*/
.logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.logo img{
  width: 350px;
  height: 450px;
}

#under-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#under-logo h1 {
  font-size: 36pt;
  margin-top: 26.8px;
}

#under-logo p {
  font-size: 24pt;
  margin-top: 5pt;
}

/*-----------*/

/*----------- main info -----------*/
.mainblock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25pt;
  margin-bottom: 15pt;
}

.mainblock .info_about {
  width: 440pt;
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.img-team {
  width: 400px;
  height: 600px;
  margin-top: 10px;
}
/*-----------*/

/*----------- about job -----------*/
.job {
  display: flex;
  justify-content: center;
}

.applybtn {
  margin-top: 15pt;
  margin-bottom: 5pt;
  padding: 24px 48px;
  font-size: 18pt;
  transition-duration: 0.4s;
  color: black;
  border: 1.5px solid #000000;
  cursor: pointer;
}

.applybtn:hover {
  background-color: #000000;
  color: white;
}
/*-----------*/
@media all and (max-device-width: 700px) {
  .logo img{
    width: 550px;
    height: 750px;
  }
  #under-logo h1 {
    font-size: 48pt;
  }
  h2 {
    font-size: 36pt;
  }
  .info_about {
    font-size: 24pt;
  }
  .applybtn {
    font-size: 24pt;
  }

}

@media all and (max-device-width: 900px) {
  .logo img{
    width: 350px;
    height: 450px;
  }
  #under-logo h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 24pt;
  }
  .info_about {
    font-size: 18pt;
  }
  .applybtn {
    font-size: 18pt;
  }
}

</style>