<template>
  <div class="social-icons">
    <a class="icon" v-for="sc in social" v-bind:href="sc.link">
      <div v-bind:class="sc.class"></div>
    </a>
  </div>
</template>

<script>
export default {
  data() {
    return{
      social: [
        {id: 0, class: "c_dsbtn", link:"https://discord.com/"},
        {id: 1, class: "c_steambtn", link:"https://steamcommunity.com/"},
        {id: 2, class: "c_twbtn", link:"https://twitter.com/"},
        {id: 3, class: "c_yobtn", link:"https://youtube.com"},
      ]
    }
  }
}
</script>

<style scoped>
/*------------icons------------*/
.social-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-icons div {
  display: flex;
  justify-content: space-evenly;
}

.social-icons .icon {
  margin: 10pt 25pt 25pt 25pt;
  display: flex;
  justify-content: center;
}

.c_dsbtn, .c_steambtn, .c_yobtn, .c_twbtn  {
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
}
.c_dsbtn {
  background: url("../../../../assets/img/discord_btn.png") no-repeat;
  background-size: var(--size-icon);
  width: var(--icons-width);
  height: var(--icons-height);
}

.c_steambtn {
  background: url("../../../../assets/img/steam_btn.png") no-repeat;
  background-size: var(--size-icon);
  width: var(--icons-width);
  height: var(--icons-height);
}

.c_twbtn {
  background: url("../../../../assets/img/twitter_btn.png") no-repeat;
  background-size: var(--size-icon);
  width: var(--icons-width);
  height: var(--icons-height);
}

.c_yobtn {
  background: url("../../../../assets/img/youtube_btn.png") no-repeat;
  background-size: var(--size-icon);
  width: var(--icons-width);
  height: var(--icons-height);
}

.c_dsbtn:hover {
  background: url("../../../../assets/img/discord_btn_h.png") no-repeat;
  background-size: var(--size-icon-change);
}

.c_steambtn:hover {
  background: url("../../../../assets/img/steam_btn_h.png") no-repeat;
  background-size: var(--size-icon-change);
}

.c_twbtn:hover {
  background: url("../../../../assets/img/twitter_btn_h.png") no-repeat;
  background-size: var(--size-icon-change);
}

.c_yobtn:hover {
  background: url("../../../../assets/img/youtube_btn_h.png") no-repeat;
  background-size: var(--size-icon-change);
}
/*-----------*/
</style>